body{
    background-color: black;
    margin-top: 0;
    min-height: 100vh;
    background-image: url(/img/fondoazul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


body::before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;

}


h1{
    color: rgba(234, 6, 255, 0.767);
    font-size: 100px;
    text-shadow: 6px 6px 10px rgb(177, 9, 255)  ;
    text-align: center;
    font-family: italic, monospace;
}


h3{
    color: rgba(255, 255, 255, 0.836);
    justify-content: center;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    text-shadow: 2px 3px 4pxrgba(255, 255, 255, 0.836)
}



.video{
    text-align: center;
}


p{
    color: black;
    text-align: center;
}

